@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root {
  --bg: #f3f4f6;
  --primary-color: rgb(168 85 247);
  --primary-light-color: rgb(233 213 255);
  --primary-dark-color: rgb(126, 34, 206);
  --border-color: rgb(192, 132, 252);
  --error-color: rgb(239 68 68);

  --gray-color: rgb(55 65 81);
  --gray-dark: rgb(55 65 81);
  --gray-light: rgb(156 163 175);
}

body {
  overflow: hidden;
  word-break: break-word;
  text-align: justify;
}

/* Common Styles */
input,
textarea {
  @apply w-[400px] max-w-[100%] border border-gray-200
    py-2 px-6 bg-zinc-100/40;
}

label span {
  @apply text-error;
}

ul,
li {
  list-style: none;
}

.toast-message {
  color: var(--primary-dark-color) !important;
}

/* customised scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-light-color);
  border-radius: 5px;
}
